@mixin container($max-widths: $container-max-widths, $padding-x: 15px) {
  margin-right: auto;
  margin-left: auto;
  padding-right: $padding-x;
  padding-left: $padding-x;

  // Iterate over the provided max-widths map to generate media queries
  @each $breakpoint, $container-max-width in $max-widths {
    @if $breakpoint != null {
      @media (min-width: #{map-get($container-max-widths, $breakpoint)}) {
        max-width: $container-max-width;
      }
    } @else {
      max-width: $container-max-width;
    }
  }
}

@mixin flexbox(
  $display: flex,
  $direction: row,
  $justify: flex-start,
  $align: stretch
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}
