<div class="container">
  <div class="player-stats">
    <div class="stat">
      <span class="title">Money:</span>
      <span class="value">${{ overworld?.player.money }}</span>
    </div>
    <div class="stat">
      <span class="title">health:</span>
      <span class="value">{{ overworld?.player.health }}</span>
    </div>
    <div class="stat">
      <span class="title">Wave:</span>
      <span class="value">{{ overworld?.currentWave }}</span>
    </div>
  </div>

  <div class="canvas-wrapper">
    <canvas #gameCanvas height="500" width="750"></canvas>
  </div>

  <div class="selected">
    <h2 class="selected-heading">
      Currently Selected:
      <span>{{ overworld?.grid?.selectedObject?.displayName || "None" }}</span>
      <span *ngIf="selectedObject" class="level-indicator"
        >(Level {{ selectedObject?.currentLevel }})</span
      >
    </h2>
    <div class="currently-selected">
      <ng-container *ngIf="overworld?.grid?.selectedObject as tower">
        <div class="stats">
          <p>
            <span class="title">Damage:</span>
            <span class="from">{{ selectedObject?.attackDamage }} hp</span
            ><i class="fa-solid fa-arrow-right"></i
            ><span class="to">{{
              selectedObject?.getNextLevelValue()?.attackDamage || "Max"
            }}</span>
          </p>
          <p>
            <span class="title">Range:</span>
            <span class="from">{{ selectedObject?.attackRange }} cells</span
            ><i class="fa-solid fa-arrow-right"></i
            ><span class="to">{{
              selectedObject?.getNextLevelValue()?.attackRange || "Max"
            }}</span>
          </p>
          <p>
            <span class="title">Fire Rate:</span>
            <span class="from">{{ selectedObject?.fireRate }} /s</span
            ><i class="fa-solid fa-arrow-right"></i
            ><span class="to">{{
              selectedObject?.getNextLevelValue()?.fireRate || "Max"
            }}</span>
          </p>
        </div>
        <div class="actions">
          <button
            [class.maxLevel]="selectedObject.currentLevel === 3"
            class="upgrade"
            (click)="upgradeTower()"
          >
            <span *ngIf="!overworld.isSelectedTowerMaxLevel()">Upgrade</span>
            <span *ngIf="overworld.isSelectedTowerMaxLevel()">Max Level</span>
            <span *ngIf="!overworld.isSelectedTowerMaxLevel()"
              >(${{ selectedObject.getNextLevelValue()?.upgradeCost }})</span
            >
          </button>
          <button class="sell" (click)="sellTower()">
            Sell
            <span>(${{ selectedObject.sellCost }})</span>
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="buttons">
    <button
      class="tower-btn"
      [class.active]="
        overworld?.isPlacingTower && overworld?.towerToPlace?.key === tower.key
      "
      (click)="startPlacingTower(tower.key.toString())"
      *ngFor="let tower of towerConfigurations | keyvalue"
    >
      <span>{{ tower.value.displayName }}</span>
      <span>${{ tower.value.purchaseCost }}</span>
    </button>
  </div>
</div>
