@import "@styles/2-helpers/_constants.scss";
@import "../styles/2-helpers/helpers-dir";

.canvas-wrapper {
  padding: 1rem;
  margin-bottom: calc(1.75rem + 1rem);
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #e7ecef;
  border: 3px solid $border-color;
  cursor: pointer;
}
